<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ObservatoryCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ObservatoryControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ObservatoryCenter.Properties.Settings>
            <setting name="SwitchDriverId" serializeAs="String">
                <value>SwitchSim.Switch</value>
            </setting>
            <setting name="MaximDLPath" serializeAs="String">
                <value>c:\Program Files (x86)\Diffraction Limited\MaxIm DL V5\MaxIm_DL.exe</value>
            </setting>
            <setting name="CCDAPPath" serializeAs="String">
                <value>c:\Program Files (x86)\CCDWare\CCDAutoPilot5\CCDAutoPilot5.exe</value>
            </setting>
            <setting name="CartesPath" serializeAs="String">
                <value>c:\Program Files (x86)\Ciel\skychart.exe</value>
            </setting>
            <setting name="SwitchMountPort" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SwitchCameraPort" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SwitchRoofPowerPort" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SwitchRoofSwitchPort" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SwitchFocuserPort" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RoofDuration" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RoofDurationMeasurementsCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TelescopeDriverId" serializeAs="String">
                <value>EQMOD_SIM.Telescope</value>
            </setting>
            <setting name="DomeDriverId" serializeAs="String">
                <value>ASCOM.Simulator.Dome</value>
            </setting>
            <setting name="DeviceEnabled_Switch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceEnabled_Dome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceEnabled_Telescope" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LongGrad" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="LongMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LongSec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LatGrad" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="LatMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LatSec" serializeAs="String">
                <value>0</value>
            </setting>
        </ObservatoryCenter.Properties.Settings>
        <ObservatoryControl.Properties.Settings>
            <setting name="SwitchDriverId" serializeAs="String">
                <value/>
            </setting>
        </ObservatoryControl.Properties.Settings>
    </userSettings>
</configuration>
