<?xml version="1.0" encoding="utf-8"?>
<configuration>
<programsPath>
	<PHDBROKER value="c:\Users\Emchenko\Documents\CCDWare\CCDAutoPilot5\Scripts\PHDBroker_Server.exe" />
	<CdC value="c:\Program Files (x86)\Ciel\skychart.exe" />
	<PHD2 value="c:\Program Files (x86)\PHDGuiding2\phd2.exe" />
	<CCDAP value="c:\Program Files (x86)\CCDWare\CCDAutoPilot5\CCDAutoPilot5.exe" />
	<MAXIMDL value="c:\Program Files (x86)\Diffraction Limited\MaxIm DL V5\MaxIm_DL.exe" />
	<FOCUSMAX value="@c:\Program Files (x86)\FocusMax\FocusMax.exe" />
	<ASTROTORTILLA value="@c:\Program Files (x86)\AstroTortilla\AstroTortilla.exe" />
	<ASTROTORTILLA_AUTOIT value="@c:\Program Files (x86)\AstroTortilla\astrotortilla_solve.exe" />
</programsPath>

<scenarioMainParams>
    <POWER_ON value="true" />
    <PHD2_RUN value="true" />
    <PHD2_CONNECT value="true" />
    <PHDBROKER_RUN value="true" />
    <MAXIM_RUN value="true" />
    <MAXIM_CAMERA_CONNECT value="true" />
    <MAXIM_CAMERA_SETCOOLING value="true" />
    <MAXIM_FOCUSER_CONNECT value="false" />
    <MAXIM_TELESCOPE_CONNECT value="true" />
    <FOCUSMAX_RUN value="true" />
    <CdC_RUN value="true" />
    <CCDAP_RUN value="true" />
    <OBS_TELESCOPE_CONNECT value="true" />
    <CdC_TELESCOPE_CONNECT value="true" />
	

	<CDC_CONNECT_PAUSE value="2000" />
    <PHD_CONNECT_PAUSE value="2000" />
</scenarioMainParams>

</configuration>