<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	<add key="PHDBROKER_PATH" value="c:\Users\Emchenko Boris\Documents\CCDWare\CCDAutoPilot5\Scripts\PHDBroker_Server.exe" />

	<add key="PREPARE_SCENARIO_CDC_CONNECT_PAUSE" value="2000" />
    <add key="PREPARE_SCENARIO_PHD_CONNECT_PAUSE" value="2000" />
    <add key="PREPARE_SCENARIO_MAXIM_FOCUSER_CONNECT" value="true" />
    <add key="var2" value="Hello World!" />
</appSettings>
</configuration>